# Configuration file for the solver test suite
# all lines with  # will be ignored
nit: 50 
tol: 1.0e-20
subtol: 1.0e-20 
#0 no output 1 verbose output
verbos: 1
# No. of problemsizes
nprobs: 3 
32 128 128
32 128 128
32 64 128
# No. of solvers. Choose between:
#1 tfqmr 
nsolv: 1
1 
# No. of communication patterns. Choose between:
#100 alltoallw 101 comm 102 fcfs 103 fcfs_pack 104 blocking
#200 split 201 split_comm 202 win_fence_put 203 win_fence_get
#204 win_start_put 205 win_start_get
npatt: 6
102 103 200 201 11 23
#Parameters for the topology aware communication patterns


nhosts: 2
autos: 0
franks: 0,8
