# Configuration file for the solver test suite
# all lines with  # will be ignored
nit:   200 
tol:    1.0e-20
subtol: 1.0e-20 
#0 no output 1 verbose output
verbos:1
# No. of problemsizes
nprobs: 1
32 128 128
32  128 128
32  64  128
# No. of solvers. Choose between:
#1 tfqmr  4 qmr 
nsolv: 1
1       
